<!doctype HTML>
<html>
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
        <title>{% block title %}{% endblock %} - First Code Secrets</title>
    {% endblock %}
</head>
<body>
<!-- Your Semantic UI Code -->
<div class="ui container">
    <div class="ui blue inverted menu">
        <a class="item" href="{{ url_for('home') }}">
            Home
        </a>
        <a class="item" href="{{ url_for('wall') }}">
            Wall of Secrets
        </a>
        <a class="item" href="{{ url_for('add') }}">
            Write a Secret
        </a>
        <a class="item" href="{{ url_for('report') }}">
            Report
        </a>
    </div>

    <div id="content">{% block content %}{% endblock %}</div>
    <h1></h1>
    <div class="ui fixed vertical footer segment" id="footer">
        {% block footer %}
            &copy; Copyright 2018 by <a href="https://www.firstcodeacademy.com/">First Code Academy</a>
        {% endblock %}
    </div>
</div>

</body>
</html>